@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body {
    font-family: "Fira Sans", sans-serif; 
  }

td {
    /* height: 50px; */
    vertical-align: top;
  }

.smaller { 
    font-size: 0.8em;
}



@media only screen and (max-width: 700px) {
    .syllabus-description-table-header {
      min-width: 5em;
    }
  }

.page-number{
    min-width: 3em;
    vertical-align: top;
    padding-bottom: .5em;
}

.note { 
  padding-bottom: .5em;
}

.float-left { 
    float: left;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
.img-profile {
    float: left;
    margin-right: 3%;
    margin-top: 0%;
    margin-bottom: 1%;
  }

.img-responsive {
    width: 25%;
}


@media only screen and (max-width: 400px) {
    .img-responsive {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }